@model SchoolManagementSystem.Models.Teacher

<h2>@Model.TeacherLName, @Model.TeacherFName</h2>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate.ToShortDateString()</p>
<p>Salary: @Model.Salary.ToString("C")</p>
<p>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <a asp-action="Update" asp-route-id="@Model.TeacherId" class="btn btn-primary">Edit</a>
</p>
